.venv

**/copilot-instructions.md

__pycache__/
.pytest_cache/

.env

.terraform
*.terraform.*
*.tfstate
*.tfvars
terraform/terraform.tfstate.backup

explore/
*.csv
.DS_Store

data_exploration/

diagrams
imagesbluesky_pipeline/extract/
dashboard/test_yake.py
documents/Trendfunnel_Script.txt

ignore_dis_folder

*.coverage
*infracost*