name: Pytesting & Pylinting

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  validation:
    name: Pytesting & Pylinting
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: '3.14'

    - name: Cache pip packages
      uses: actions/cache@v4
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('**/reqs_*.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-

    - name: Install requirements
      run: |
        find . -name "reqs_*.txt" -type f | while read file; do
          pip install -r "$file"
        done

    - name: Linting
      run: pylint . --fail-under 8

    - name: Testing
      run: pytest .